<!DOCTYPE html>
<html lang="pt-br">

<head>

    <title>Comentários</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/page-header_styles.css') }}">

    <!-- Estilização da Página -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/comments-page_styles.css') }}">

</head>

<body class="page">

    <header class="page-header">

        <nav class="page-header__nav">

            <ul class="page-header__menu-links">

                <li><a href="/">Entrar</a></li>

                <li><a href="/comments">Comentários</a></li>

                <li><a href="/">Doações</a></li>

            </ul>

        </nav>

        <div>
            
            <a class="page-header__logo" href="/">
                <img src="{{ url_for('static', filename='images/los-pollos-hermanos.png') }}" alt="Logo" />
            </a>
    
            <a class="page-header__btn-logout" href="/logout">Sair</a>

        </div>

    </header>

    <main class="page-main">

        <!-- Formulário de Comentário -->

        <section class="comment-form">

            <form class="form" action="/post/comments" method="POST">

                <div class="form__group">

                    <span class="form__title">Deixe seu recado!</span>

                    <textarea class="form__textarea" name="input-message" id="input-message"
                        placeholder="Escreva sua mensagem. . ." required></textarea>

                </div>

                <div class="form__buttons">

                    <button class="form__button form__btn--submit" type="submit">Comentar</button>
                    <button class="form__button form__btn--reset" type="reset">Limpar</button>

                </div>

            </form>

        </section>

        <!-- Lista de Comentários -->

        <section class="comment-list">

            <div class="comments-container">

                <h2 class="comments__title">Comentários</h2>

                <div class="comments">

                    {% for comment in comments %}
                    <article class="comment__container">
                        <div class="comment">
                            <header class="comment__header">
                                <span class="comment__user">{{ comment.nome }}</span>
                                <span class="comment__reactions">{{ comment.curtidas }}</span>
                            </header>

                            <main class="comment__content">
                                <p class="comment__message">{{ comment.message }}</p>
                            </main>

                            <footer class="comment__footer">
                                <span class="comment__date">{{ comment.data_hora }}</span>
                            </footer>
                        </div>

                        <section class="comment__actions">
                            <form action="/post/like/{{ comment.comment_id }}" method="post">
                                <button class="comment__like-btn comment__actions-btn" type="submit">
                                    <img src="{{ url_for('static', filename='images/like-icon.svg') }}" alt="Curtir comentário">
                                </button>
                            </form>

                            <form action="/post/dislike/{{ comment.comment_id }}" method="post">
                                <button class="comment__dislike-btn comment__actions-btn" type="submit">
                                    <img src="{{ url_for('static', filename='images/dislike-icon.svg') }}" alt="Não curtir comentário">
                                </button>
                            </form>

                            <form action="/post/delete/{{ comment.comment_id }}" method="post">
                                <button class="comment__delete-btn comment__actions-btn" type="submit">
                                    <img src="{{ url_for('static', filename='images/delete-icon.svg') }}" alt="Excluir comentário">
                                </button>
                            </form>
                        </section>
                    </article>
                    {% endfor %}

                </div>

            </div>

        </section>
    </main>

</body>

</html>