<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>

    <!-- Montserrat Font - Google CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Estilização da página -->

    <!-- url_for(. . .) -> Usando arquivo CSS com o JINJA -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}" />
</head>
<body>

    <main class="main">

        <div class="main__divs">

            <form class="form" action="/post/comentarios" method="POST">
    
                <label class="form__label" for="usuario">Usuário</label>
                <input class="form__input" type="text" name="usuario" placeholder="Exemplo: Lucas Oliveira da Silva" maxlength="150" required>
    
                <label class="form__label" for="comentario">Comentário</label>
                <textarea class="form__textarea" name="comentario" placeholder="Eu sempre assisto e acho muito interessante, É INTERESSANTE!" required></textarea>
                
                <div class="form__buttons">
    
                    <button class="form__button form__button--submit" type="submit">Comentar</button>
                    
                    <button class="form__button form__button--reset" type="reset">Limpar</button>
                
                </div>
    
            </form>
    
        </div>

        <div class="main__divs">

            <section class="view-comentarios">

                {% for comentario in comentarios %}

                <article>

                    <header>
                        comentario.usuario
                    </header>

                    <main>
                        comentario.comentario
                    </main>

                </article>

                {% endfor %}

            </section>

        </div>

    </main>

</body>
</html>