<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/page-header_styles.css') }}">

    <!-- Estilização da Página -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home-page_styles.css') }}" />

</head>

<body>

    <header class="page-header">

        <nav class="page-header__nav">

            <ul class="page-header__menu-links">

                <li><a href="/">Entrar</a></li>

                <li><a href="/comments" 
                    {% if not is_login %}

                    aria-disabled="true"

                    {% endif %}

                    aria-disabled="true"
                >Comentários</a></li>

                <li><a href="/">Doações</a></li>

            </ul>

        </nav>

        <div>
            
            <a class="page-header__logo" href="/">
                <img src="{{ url_for('static', filename='images/los-pollos-hermanos.png') }}" alt="Logo" />
            </a>
    
            {% if is_login %}
    
            <a class="page-header__btn-logout" href="/logout">Sair</a>
    
            {% endif %}

        </div>

    </header>

    <main class="page-main">

        <!-- Entrar -->

        <form class="form__container form-login" action="/post/login" method="POST">

            <div class="form__group">

                <span class="form__title">Sem meias cautelas...</span>

                <!-- Input Login -->
    
                <input class="form__input" type="text" name="input-login" placeholder="Email" maxlength="25" required>
    
                <!-- Input Senha -->
    
                <input class="form__input" type="password" name="input-password" placeholder="Senha" minlength="8" required>

                <!-- Manter Sessão -->

                <div class="form__keep-session">
                    <input class="form__checkbox" type="checkbox" id="yes" name="keep-session" value="yes">
                    <label class="form__label" for="keep-session">Manter sessão ativa</label>
                </div>

            </div>

            <!-- Botão Login -->

            <button class="form__btn-login" type="submit">Entrar</button>

        </form>

        <!-- Cadastro -->

        <form class="form__container form-register" action="/post/register" method="POST">

            <div class="form__group">

                <span class="form__title">Ainda não é uma mula?</span>

                <!-- Input Login -->
    
                <input class="form__input" type="text" name="input-login" placeholder="Email" maxlength="25" required>

                <!-- Input Username -->
    
                <input class="form__input" type="text" name="input-username" placeholder="Usuário" maxlength="50" required>
    
                <!-- Input Senha -->
    
                <input class="form__input" type="password" name="input-password" placeholder="Senha" minlength="8" required>
            
            </div>

            <!-- Botão Cadastrar -->

            <button class="form__btn-register" type="submit">Cadastre-se</button>

        </form>

        <a class="page-main__read-more" href="/heisenberg">Leia Mais</a>

    </main>

</body>

</html>