<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/color-pallete.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}" />

    <!-- Estilização da Página -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />

</head>

<body>

    <header class="page-header">

        <nav class="page-header__nav">

            <ul class="page-header__menu-links">

                <li><a href="#">Entrar</a></li>

                <li><a href="#" 
                    {% if not is_login %}

                    aria-disabled="true"

                    {% endif %}

                    aria-disabled="true"
                >Comentários</a></li>

                <li><a href="#">Doações</a></li>

            </ul>

        </nav>

        <a class="page-header__logo" href="/">
            <img src="{{ url_for('static', filename='images/los-pollos-hermanos.png') }}" alt="Logo" />
        </a>

        {% if is_login %}

        <a class="page-header__btn-logout">Sair</a>

        {% endif %}

    </header>

    <main class="page-main">

        <!-- Entrar -->

        <section class="form__container form-login">

            <span class="form__title">Sem meias cautelas...</span>

            <form class="form" action="/post/register" method="POST">

                <!-- Input Login -->
    
                <input class="form__input" type="text" name="input-login" placeholder="Email" maxlength="25" required>
    
                <!-- Input Senha -->
    
                <input class="form__input" type="password" name="input-password" placeholder="Senha" minlength="8" required>

                <!-- Manter Sessão -->

                <div class="form__keep-session">
                    <input class="form__checkbox" type="checkbox" id="yes" name="keep-session" value="yes">
                    <label class="form__label" for="keep-session">Manter sessão ativa</label>
                </div>
    
                <!-- Botão Login -->
    
                <button class="form__btn-login" type="submit">Entrar</button>
    
            </form>

        </section>

        <!-- Cadastro -->

        <section class="form__container form-register">

            <span class="form__title">Ainda não é uma mula?</span>

            <hr/>

            <form class="form" action="/post/register" method="POST">

                <!-- Input Login -->
    
                <input class="form__input" type="text" name="input-login" placeholder="Email" maxlength="25" required>

                <!-- Input Username -->
    
                <input class="form__input" type="text" name="input-password" placeholder="Usuário" maxlength="50" required>
    
                <!-- Input Senha -->
    
                <input class="form__input" type="password" name="input-password" placeholder="Senha" minlength="8" required>
    
                <!-- Botão Cadastrar -->
    
                <button class="form__btn-register" type="submit">Cadastre-se</button>
    
            </form>

        </section>

        <span class="page-main__read-more">Leia Mais</span>

    </main>

</body>

</html>