<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <title>Document</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Montserrat Font - Google CDN -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/color-pallete.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset.css') }}" />

    <!-- Estilização da Página -->

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}" />

</head>

<body>
    
    <main>

        <form class="login__form-container">

            <!-- Input Usuário -->

            <label class="form__label" for="input-user">Nome de Usuário</label>
            <input class="form__input" type="text" name="input-user" placeholder="Lucas Oliveira da Silva" maxlength="150" required>

            <!-- Input Senha -->

            <label class="form__label" for="input-password">Senha</label>
            <input class="form__input" type="password" name="input-password" minlength="8" required>

            <div class="form__buttons">

                <button class="form__button form__button--submit" type="submit">Comentar</button>
                
                <button class="form__button form__button--reset" type="reset">Limpar</button>

            </div>

        </form>

    </main>

</body>

</html>