:root 
{
    --color-bg: #00cc33;

    --color-stars: #ffff99;

    --color-title: #ffffff;
    --color-subtitle: #ffff66;
    --color-text: #ffffff;

    --color-btn-login: linear-gradient(#ffcc00, #cc9900);
    --color-btn-register: linear-gradient(#66ccff, #3399ff);
    
    --color-border: #000000;
    --color-shadow: rgba(0, 0, 0, 0.6);
}