:root
{
    --dark-green: #0b3d2e;
    --light-green: #125943;

    --yellow: #f2c029;

    --light-brown: #eae0c8;

    --primary-font-color: #f5f5f5;
    --secondary-font-color: #2c3e50;

    --pollos-red: #E31937;
    --gold-yellow: #FFC72C;
    --fiery-orange: #F68B1F;
    --rustic-brown: #5C3A21;
    --pure-white: #FFFFFF;

    --dark-theme-bg: #0F1A20; /* 121212 */
}