body 
{
    width: 100vw;
    height: 100vh;

    background-color: var(--primary-bg-color);

    color: var(--font-color);
}

.main 
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
}

/* Contêiner Principal */

.main__section 
{
    width: 50%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* Formulário */

.form 
{
    width: 100%;
    max-width: 500px;

    padding: 20px;

    border-radius: 8px;

    background-color: #fff;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Labels */

.form__label 
{
    display: block;

    margin: 10px 0 15px 0;

    font-size: 1rem;
    font-weight: 600;
}

/* Input de Texto */

.form__input,
.form__textarea 
{
    width: 100%;
    max-height: 500px;

    margin-bottom: 16px;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 4px;

    font-size: 1rem;
    line-height: 2em;

    resize: vertical;
}

.form__input:focus,
.form__textarea:focus 
{
    border-color: var(--blue);

    outline: none;
}

/* Botões */

.form__buttons 
{
    display: flex;
    justify-content: space-between;
}

.form__button 
{
    width: 48%;

    padding: 12px 20px;

    border: none;
    border-radius: 4px;

    font-size: 1rem;

    cursor: pointer;

    transition: filter 0.3s;
}

.form__button--submit 
{
    background-color: var(--green);
    color: #fff;
}

.form__button--reset 
{
    background-color: var(--red);
    color: #fff;
}

.form__button--submit:hover,
.form__button--reset:hover 
{
    filter: brightness(0.9);
}

/* Comentários */

.comments-container
{
    width: 600px;
    height: 60vh;

    padding: 20px 0;

    border: 1px solid #e0e0e0;
    border-radius: 12px;

    background-color: #fff;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    /* Adiciona barra de rolagem vertical quando necessário */

    overflow-y: auto;
}

.comments__title 
{
    margin-bottom: 20px;

    text-align: center;

    font-size: 1.5rem;
    font-weight: 600;

    color: #333;
}

.comments 
{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;

    padding: 0 20px;
}

/* Comentário Individual */

.comment__container
{
    max-width: 100%;
    height: fit-content;

    border: 1px solid #e0e0e0;
    border-radius: 8px;

    overflow: hidden;
}

.comment__container:hover
{
    border-color: var(--blue);
}

.comment
{
    display: flex;
    flex-flow: column wrap;

    padding: 15px 20px;

    background-color: var(--secondary-bg-color);
}

.comment__header 
{
    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

.comment__user 
{
    font-weight: bold;
    font-size: 18px;
}

.comment__content 
{
    max-width: 100%;
    height: auto;

    margin-left: 10px;

    font-size: 14px;
    line-height: 1.5em;

    color: var(--secondary-font-color);

    /* Adicionando a quebra de linha */

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.comment__footer
{
    text-align: right;

    width: 100%;

    margin-top: 5px;
}

.comment__date
{
    font-size: 12px;
    color: var(--tertiary-font-color);
}

.comment__actions
{
    height: 27px;

    display: flex;
}

.comment__actions > form
{
    flex: 1;

    width: 100%;
    height: 100%;

    padding: 2px 0;
}

.comment__actions-btn
{
    width: 100%;

    border: 0;

    cursor: pointer;
}

.comment__actions-btn > img
{
    /* Mantendo as proporções da imagem  */

    height: 100%;

    object-fit: contain;
}

.comment__actions-btn:hover
{
    filter: brightness(0.9);
}

.comment__like-btn
{
    background-color: #6fbf80;
}

.comment__dislike-btn
{
    background-color: #f98c94;
}

.comment__delete-btn
{
    background-color: #66aaff;
}

/* Responsividade */

@media (max-width: 768px) 
{
    .form 
    {
        padding: 15px;
    }

    .form__input,
    .form__textarea 
    {
        padding: 10px;
    }

    .form__buttons 
    {
        flex-direction: column;
    }

    .form__button 
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .form__button--reset 
    {
        margin-bottom: 0;
    }

    .comments 
    {
        padding: 15px;
    }

    .comment 
    {
        padding: 12px 20px;
    }
}
